[submodule "tools/guide"]
	path = tools/guide
	url = https://github.com/diderot-edu/guide.git
[submodule "tools/nb2md"]
	path = tools/nb2md
	url = https://github.com/gauravmm/nb2md.git
[submodule "tools/diderot-cli"]
	path = tools/diderot-cli
	url = https://github.com/gauravmm/diderot-cli.git
