[submodule "guide"]
	path = tools/guide
	url = https://github.com/diderot-edu/guide.git
[submodule "nb2md"]
	path = tools/nb2md
	url = https://github.com/gauravmm/nb2md.git
[submodule "diderot-cli"]
	path = tools/diderot-cli
	url = https://github.com/diderot-edu/diderot-cli.git
[submodule "testing"]
	path = tools/testing
	url = https://github.com/gauravmm/jupyter-testing.git
[submodule "autolab-testing"]
	path = tools/autolab-testing
	url = https://github.com/gauravmm/autolab-testing.git
